body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

iframe {
  width: 960px;
  height: 500px;
  border: 1px solid #DEDEDE;
}

body.graph {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}

div.menu-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 10px;
  pointer-events: none;
}

div.menu-left {
  position: relative;
  float: left;
  padding: 4px 4px 0px 10px;
  pointer-events: all;
}
